@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

.project-overview {
  font-family: 'Red Hat Text', sans-serif;
}

h6 {
  font-weight: bold;
}

p {
  margin-bottom: 15px;
}

#wish-item {
  height: 10rem;
  width: 10rem;
  background-color: #BDD9BF;
}

#proj-1 {
  position: fixed;
  top: 5rem;
  width: 80vw;
}

#proj-2 {
  position: fixed;
  top: 10rem;
}

#proj-3 {
  position: fixed;
  top: 15rem;
}

#proj-4 {
  position: fixed;
  top: 20rem;
  width: 80vw;
}

.publish-btn {
  text-align: center;
  /* position: fixed;  */
}

/* Button will be a component */