@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

.next-page {
  width: 30px;
}

.styled-button {
  background-color: #99CCCC;
  border-color: #2E4052;
  border-width: medium;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.next {
  color: #808080;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 10px;
  text-align: center;
}

.arrow-right {
  /* text-align: center; */
  color: #2E4052;
  position: relative;
  top: -28px;
  left: 5px;
}