h1 {
    font-size: 40px;
    font-weight: 600;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

ol {
    font-size: 16px;
    font-weight: 600;
    color:hsl(0, 0%, 2%)
}

li {
    color: #FF6666;
}

.center {
    display:flex;
    justify-content: space-evenly;
    margin-left: -150px;
}

.mb-23 {
    margin-top: 40px;
    margin-left: -50px;
}

.circle5 {
  margin-top: -60px;
  margin-left: 50px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #99CCCC;
}

.circle6 {
  margin-top: -100px;
  margin-left: 270px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #FFC857;
}

.circle7 {
  margin-left: -40px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #FF6666;
}

.text2 {
    margin-top: -150px;
    margin-left: 20px;
}