.loader {
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h2 {
  font-size: 20px;
  font-weight: 600;
  /* margin-left: 30%; */
}

.loadtext {
  font-size: 20px;
  font-weight: 600;
  /* margin-left: 30%; */
}

.loadbubble {
  margin-left: 30%;
}

.t-rex {
  margin-left: 30%;
}
