.footernav {
    margin-left: -15px;
    width: 115%;
    margin-top: 35px;
    bottom: 0;
    position: absolute;
    
}

img {
    width: 160px;
}

.me-auto {
    font-size: large;
    display:flex;
    margin-left: 60px;
}